@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-xSBgRArdfWqG_font-family: "Inter", sans-serif;
  --mixin-xSBgRArdfWqG_font-size: 16px;
  --mixin-xSBgRArdfWqG_font-weight: 400;
  --mixin-xSBgRArdfWqG_font-style: normal;
  --mixin-xSBgRArdfWqG_color: #535353;
  --mixin-xSBgRArdfWqG_text-align: left;
  --mixin-xSBgRArdfWqG_text-transform: none;
  --mixin-xSBgRArdfWqG_line-height: 1.5;
  --mixin-xSBgRArdfWqG_letter-spacing: normal;
  --mixin-xSBgRArdfWqG_white-space: pre-wrap;
  --mixin-xSBgRArdfWqG_user-select: text;
  --mixin-xSBgRArdfWqG_text-decoration-line: none;
  --mixin-xSBgRArdfWqG_text-overflow: clip;
  --mixin-klGNshuVoaBT_color: #000000;
  --mixin-klGNshuVoaBT_font-weight: 700;
  --mixin-klGNshuVoaBT_font-size: 64px;
  --mixin-klGNshuVoaBT_line-height: 1;
  --mixin-klGNshuVoaBT_letter-spacing: -1px;
  --mixin-klGNshuVoaBT_white-space: pre-wrap;
  --mixin-Mpsi9qwxVOaI_color: #000000;
  --mixin-Mpsi9qwxVOaI_font-size: 48px;
  --mixin-Mpsi9qwxVOaI_font-weight: 700;
  --mixin-Mpsi9qwxVOaI_letter-spacing: -0.5px;
  --mixin-Mpsi9qwxVOaI_line-height: 1.1;
  --mixin-Mpsi9qwxVOaI_white-space: pre-wrap;
  --mixin-XzACiqFLv1Fv_color: #0070f3;
  --mixin-XzACiqFLv1Fv_white-space: pre-wrap;
  --mixin-aQvAo9fXmXUy_color: #000000;
  --mixin-aQvAo9fXmXUy_font-size: 32px;
  --mixin-aQvAo9fXmXUy_font-weight: 600;
  --mixin-aQvAo9fXmXUy_line-height: 1.2;
  --mixin-aQvAo9fXmXUy_white-space: pre-wrap;
  --mixin-vA1OOmMFWZuN_color: #000000;
  --mixin-vA1OOmMFWZuN_font-size: 24px;
  --mixin-vA1OOmMFWZuN_font-weight: 600;
  --mixin-vA1OOmMFWZuN_line-height: 1.3;
  --mixin-vA1OOmMFWZuN_white-space: pre-wrap;
  --mixin-ubOMELQZRZxU_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ubOMELQZRZxU_border-bottom-color: #dddddd;
  --mixin-ubOMELQZRZxU_border-bottom-style: solid;
  --mixin-ubOMELQZRZxU_border-bottom-width: 1px;
  --mixin-ubOMELQZRZxU_border-left-color: #dddddd;
  --mixin-ubOMELQZRZxU_border-left-style: solid;
  --mixin-ubOMELQZRZxU_border-left-width: 1px;
  --mixin-ubOMELQZRZxU_border-right-color: #dddddd;
  --mixin-ubOMELQZRZxU_border-right-style: solid;
  --mixin-ubOMELQZRZxU_border-right-width: 1px;
  --mixin-ubOMELQZRZxU_border-top-color: #dddddd;
  --mixin-ubOMELQZRZxU_border-top-style: solid;
  --mixin-ubOMELQZRZxU_border-top-width: 1px;
  --mixin-ubOMELQZRZxU_border-bottom-left-radius: 3px;
  --mixin-ubOMELQZRZxU_border-bottom-right-radius: 3px;
  --mixin-ubOMELQZRZxU_border-top-left-radius: 3px;
  --mixin-ubOMELQZRZxU_border-top-right-radius: 3px;
  --mixin-ubOMELQZRZxU_font-family: "Inconsolata";
  --mixin-ubOMELQZRZxU_padding-bottom: 1px;
  --mixin-ubOMELQZRZxU_padding-left: 4px;
  --mixin-ubOMELQZRZxU_padding-right: 4px;
  --mixin-ubOMELQZRZxU_padding-top: 1px;
  --mixin-ubOMELQZRZxU_white-space: pre-wrap;
  --mixin-S3qCUDWh_J1__border-left-color: #dddddd;
  --mixin-S3qCUDWh_J1__border-left-style: solid;
  --mixin-S3qCUDWh_J1__border-left-width: 3px;
  --mixin-S3qCUDWh_J1__color: #888888;
  --mixin-S3qCUDWh_J1__padding-left: 10px;
  --mixin-S3qCUDWh_J1__white-space: pre-wrap;
  --mixin-6zQqXcqm-Hps_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-6zQqXcqm-Hps_border-bottom-color: #dddddd;
  --mixin-6zQqXcqm-Hps_border-bottom-style: solid;
  --mixin-6zQqXcqm-Hps_border-bottom-width: 1px;
  --mixin-6zQqXcqm-Hps_border-left-color: #dddddd;
  --mixin-6zQqXcqm-Hps_border-left-style: solid;
  --mixin-6zQqXcqm-Hps_border-left-width: 1px;
  --mixin-6zQqXcqm-Hps_border-right-color: #dddddd;
  --mixin-6zQqXcqm-Hps_border-right-style: solid;
  --mixin-6zQqXcqm-Hps_border-right-width: 1px;
  --mixin-6zQqXcqm-Hps_border-top-color: #dddddd;
  --mixin-6zQqXcqm-Hps_border-top-style: solid;
  --mixin-6zQqXcqm-Hps_border-top-width: 1px;
  --mixin-6zQqXcqm-Hps_border-bottom-left-radius: 3px;
  --mixin-6zQqXcqm-Hps_border-bottom-right-radius: 3px;
  --mixin-6zQqXcqm-Hps_border-top-left-radius: 3px;
  --mixin-6zQqXcqm-Hps_border-top-right-radius: 3px;
  --mixin-6zQqXcqm-Hps_font-family: "Inconsolata";
  --mixin-6zQqXcqm-Hps_padding-bottom: 3px;
  --mixin-6zQqXcqm-Hps_padding-left: 6px;
  --mixin-6zQqXcqm-Hps_padding-right: 6px;
  --mixin-6zQqXcqm-Hps_padding-top: 3px;
  --mixin-6zQqXcqm-Hps_white-space: pre-wrap;
  --mixin-KzAKgEIPeR1K_display: flex;
  --mixin-KzAKgEIPeR1K_flex-direction: column;
  --mixin-KzAKgEIPeR1K_align-items: stretch;
  --mixin-KzAKgEIPeR1K_justify-content: flex-start;
  --mixin-KzAKgEIPeR1K_list-style-position: outside;
  --mixin-KzAKgEIPeR1K_padding-left: 40px;
  --mixin-KzAKgEIPeR1K_position: relative;
  --mixin-KzAKgEIPeR1K_list-style-type: disc;
  --mixin-KzAKgEIPeR1K_white-space: pre-wrap;
  --mixin-yFw0AUKlP7dt_display: flex;
  --mixin-yFw0AUKlP7dt_flex-direction: column;
  --mixin-yFw0AUKlP7dt_align-items: stretch;
  --mixin-yFw0AUKlP7dt_justify-content: flex-start;
  --mixin-yFw0AUKlP7dt_list-style-position: outside;
  --mixin-yFw0AUKlP7dt_padding-left: 40px;
  --mixin-yFw0AUKlP7dt_position: relative;
  --mixin-yFw0AUKlP7dt_list-style-type: decimal;
  --mixin-yFw0AUKlP7dt_white-space: pre-wrap;
  --mixin-YXIbGCIdqqk__color: #000000;
  --mixin-YXIbGCIdqqk__font-size: 20px;
  --mixin-YXIbGCIdqqk__font-weight: 600;
  --mixin-YXIbGCIdqqk__line-height: 1.5;
  --mixin-YXIbGCIdqqk__white-space: pre-wrap;
  --mixin-wSGq84N86bx-_color: #000000;
  --mixin-wSGq84N86bx-_font-size: 16px;
  --mixin-wSGq84N86bx-_font-weight: 600;
  --mixin-wSGq84N86bx-_line-height: 1.5;
  --mixin-wSGq84N86bx-_white-space: pre-wrap;
  --mixin-ByxxVHg7P5F0_color: #3291ff;
  --mixin-ByxxVHg7P5F0_white-space: pre-wrap;
  --mixin-5I_klUeG0tEo_white-space: pre-wrap;
  --mixin-hcLcGFmOB-KG_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-xSBgRArdfWqG_font-family);
  font-size: var(--mixin-xSBgRArdfWqG_font-size);
  font-weight: var(--mixin-xSBgRArdfWqG_font-weight);
  font-style: var(--mixin-xSBgRArdfWqG_font-style);
  color: var(--mixin-xSBgRArdfWqG_color);
  text-align: var(--mixin-xSBgRArdfWqG_text-align);
  text-transform: var(--mixin-xSBgRArdfWqG_text-transform);
  line-height: var(--mixin-xSBgRArdfWqG_line-height);
  letter-spacing: var(--mixin-xSBgRArdfWqG_letter-spacing);
  white-space: var(--mixin-xSBgRArdfWqG_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-klGNshuVoaBT_color);
  font-weight: var(--mixin-klGNshuVoaBT_font-weight);
  font-size: var(--mixin-klGNshuVoaBT_font-size);
  line-height: var(--mixin-klGNshuVoaBT_line-height);
  letter-spacing: var(--mixin-klGNshuVoaBT_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Mpsi9qwxVOaI_color);
  font-size: var(--mixin-Mpsi9qwxVOaI_font-size);
  font-weight: var(--mixin-Mpsi9qwxVOaI_font-weight);
  letter-spacing: var(--mixin-Mpsi9qwxVOaI_letter-spacing);
  line-height: var(--mixin-Mpsi9qwxVOaI_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-XzACiqFLv1Fv_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-aQvAo9fXmXUy_color);
  font-size: var(--mixin-aQvAo9fXmXUy_font-size);
  font-weight: var(--mixin-aQvAo9fXmXUy_font-weight);
  line-height: var(--mixin-aQvAo9fXmXUy_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-vA1OOmMFWZuN_color);
  font-size: var(--mixin-vA1OOmMFWZuN_font-size);
  font-weight: var(--mixin-vA1OOmMFWZuN_font-weight);
  line-height: var(--mixin-vA1OOmMFWZuN_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ubOMELQZRZxU_font-family);
  border-radius: var(--mixin-ubOMELQZRZxU_border-top-left-radius)
    var(--mixin-ubOMELQZRZxU_border-top-right-radius)
    var(--mixin-ubOMELQZRZxU_border-bottom-right-radius)
    var(--mixin-ubOMELQZRZxU_border-bottom-left-radius);
  padding: var(--mixin-ubOMELQZRZxU_padding-top)
    var(--mixin-ubOMELQZRZxU_padding-right)
    var(--mixin-ubOMELQZRZxU_padding-bottom)
    var(--mixin-ubOMELQZRZxU_padding-left);
  border-top: var(--mixin-ubOMELQZRZxU_border-top-width)
    var(--mixin-ubOMELQZRZxU_border-top-style)
    var(--mixin-ubOMELQZRZxU_border-top-color);
  border-right: var(--mixin-ubOMELQZRZxU_border-right-width)
    var(--mixin-ubOMELQZRZxU_border-right-style)
    var(--mixin-ubOMELQZRZxU_border-right-color);
  border-bottom: var(--mixin-ubOMELQZRZxU_border-bottom-width)
    var(--mixin-ubOMELQZRZxU_border-bottom-style)
    var(--mixin-ubOMELQZRZxU_border-bottom-color);
  border-left: var(--mixin-ubOMELQZRZxU_border-left-width)
    var(--mixin-ubOMELQZRZxU_border-left-style)
    var(--mixin-ubOMELQZRZxU_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-S3qCUDWh_J1__color);
  padding-left: var(--mixin-S3qCUDWh_J1__padding-left);
  border-left: var(--mixin-S3qCUDWh_J1__border-left-width)
    var(--mixin-S3qCUDWh_J1__border-left-style)
    var(--mixin-S3qCUDWh_J1__border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-6zQqXcqm-Hps_font-family);
  border-radius: var(--mixin-6zQqXcqm-Hps_border-top-left-radius)
    var(--mixin-6zQqXcqm-Hps_border-top-right-radius)
    var(--mixin-6zQqXcqm-Hps_border-bottom-right-radius)
    var(--mixin-6zQqXcqm-Hps_border-bottom-left-radius);
  padding: var(--mixin-6zQqXcqm-Hps_padding-top)
    var(--mixin-6zQqXcqm-Hps_padding-right)
    var(--mixin-6zQqXcqm-Hps_padding-bottom)
    var(--mixin-6zQqXcqm-Hps_padding-left);
  border-top: var(--mixin-6zQqXcqm-Hps_border-top-width)
    var(--mixin-6zQqXcqm-Hps_border-top-style)
    var(--mixin-6zQqXcqm-Hps_border-top-color);
  border-right: var(--mixin-6zQqXcqm-Hps_border-right-width)
    var(--mixin-6zQqXcqm-Hps_border-right-style)
    var(--mixin-6zQqXcqm-Hps_border-right-color);
  border-bottom: var(--mixin-6zQqXcqm-Hps_border-bottom-width)
    var(--mixin-6zQqXcqm-Hps_border-bottom-style)
    var(--mixin-6zQqXcqm-Hps_border-bottom-color);
  border-left: var(--mixin-6zQqXcqm-Hps_border-left-width)
    var(--mixin-6zQqXcqm-Hps_border-left-style)
    var(--mixin-6zQqXcqm-Hps_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-KzAKgEIPeR1K_display);
  flex-direction: var(--mixin-KzAKgEIPeR1K_flex-direction);
  align-items: var(--mixin-KzAKgEIPeR1K_align-items);
  justify-content: var(--mixin-KzAKgEIPeR1K_justify-content);
  list-style-position: var(--mixin-KzAKgEIPeR1K_list-style-position);
  padding-left: var(--mixin-KzAKgEIPeR1K_padding-left);
  position: var(--mixin-KzAKgEIPeR1K_position);
  list-style-type: var(--mixin-KzAKgEIPeR1K_list-style-type);
  flex-column-gap: var(--mixin-KzAKgEIPeR1K_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-yFw0AUKlP7dt_display);
  flex-direction: var(--mixin-yFw0AUKlP7dt_flex-direction);
  align-items: var(--mixin-yFw0AUKlP7dt_align-items);
  justify-content: var(--mixin-yFw0AUKlP7dt_justify-content);
  list-style-position: var(--mixin-yFw0AUKlP7dt_list-style-position);
  padding-left: var(--mixin-yFw0AUKlP7dt_padding-left);
  position: var(--mixin-yFw0AUKlP7dt_position);
  list-style-type: var(--mixin-yFw0AUKlP7dt_list-style-type);
  flex-column-gap: var(--mixin-yFw0AUKlP7dt_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-YXIbGCIdqqk__color);
  font-size: var(--mixin-YXIbGCIdqqk__font-size);
  font-weight: var(--mixin-YXIbGCIdqqk__font-weight);
  line-height: var(--mixin-YXIbGCIdqqk__line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-wSGq84N86bx-_color);
  font-size: var(--mixin-wSGq84N86bx-_font-size);
  font-weight: var(--mixin-wSGq84N86bx-_font-weight);
  line-height: var(--mixin-wSGq84N86bx-_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ByxxVHg7P5F0_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
